.banner-list-content
  - if @ad_image
    = image_tag change_to_qiniu_https_url(@ad_image.pc_image || ''), title: @ad_image.title, alt: @ad_image.title, class: 'banner-img'
  .center-title.white-text.center-text
    %span 整理、让生活更轻松
    %br
    %span.font-small Organize and make life easier
.white-list-content.mb-padding-10px
  .container.margin-b20.margin-t20
    .row
      .col-md-12.center-text
        .line-title.title-font 整理服务流程
  .center-img
    = image_tag 'service/sub_title.png', title: '莉家整理服务流程', alt: "莉家整理服务核心流程"


.gray-list-content
  .container.margin-b20.margin-t20
    .row
      .col-md-12.center-text
        .line-title.title-font 整理服务
      .col-md-12.padding-0px.margin-t20.service-index-content.d-none.d-sm-block
        .left-content
          - @products.each_with_index do |product, index|
            .left-product-list.servic-left-content{class: "servic-left-#{product.id} #{'current' if index == 0}", "data-id" => "#{product.id}", :onclick =>"showOtherRightInfo('#{product.id}', 'servic')"}
              .title= product.title
              .sub-title= product.sub_title

        - @products.each_with_index do |product, index|
          .right-content.servic-right-content{class: "servic-right-#{product.id} #{'right-current' if index == 0}", style: "min-height: #{100*@products.size + 50}px"}
            .title.center-text.black-text= product.title
            .sub-title.center-text.gray-text= product.sub_title

            - if product.pc_detailed_image
              .margin-t20
                = image_tag change_to_qiniu_https_url(product.pc_detailed_image || ''), title: product.title, alt: product.title, class: 'circle-img'
            .margin-t20
              - (product.description || '').split("\r\n").each do |info|
                %p= info

            .margin-t20.center-text
              %a.title.black-text{href: "#{service_path(product)}"}  点击查看详细介绍 >>

            .margin-t20
              .cursor-text.red-reverse-bg.btn-100span.cursor-text{:onclick =>"showAppletPop('扫码预约', '扫一扫 小程序下单预约')"} 立即预约
      .col-md-12.padding-0px.margin-t20.mb-service-index-content.d-sm-none
        - @products.each_with_index do |item, index|
          .mb-service-list.gray-shadow
            %a.left-content{href: "#{service_path(item)}"}
              = image_tag(change_to_qiniu_https_url(item.front_image || ''), title: item.title, alt: item.title, class: "service-info-image")
            .service-info-content
              .title= item.title
              .margin-t5.desc= item.description
              .margin-t20
                %span.gray-text= "已预约：#{item.count_string || 999}"
                %span.rigth-span.red-reverse-bg.btn-span.cursor-text.margin-nt5{:onclick =>"showAppletPop('扫码预约', '扫一扫 小程序下单预约')"} 立即预约
                


