.banner-list-content
  = image_tag @product.pc_detailed_image || '', title: @product.title, alt: @product.title, class: 'banner-img'
  .center-title.white-text.center-text
    %span 整理、让生活更轻松
    %br
    %span.font-small Organize and make life easier

.white-list-content
  .container.margin-b20.margin-t20
    .row
      .col-md-12.center-text
        .line-title.title-font 整理服务流程
  .center-img
    = image_tag 'service/sub_title.png', title: '莉家整理服务流程', alt: "莉家整理服务核心流程"


.gray-list-content
  .container.margin-b20.margin-t20
    .row
      .col-md-8.service-show-content
        .title=@product.title
        .price.margin-t10.price-content
          %span.red-text ¥
          %span.red-text.title= @product.earnest_price
          %span.margin-l5.gray-text 定金
          %span.red-reverse-bg.btn-span.right-span 立即预约
        .desc-content
          = raw(@product.web_content)


      .col-md-4
        .service-right-content
          .title 其他整理服务
          - @other_products.each do |item|
            .service-right-list
              %a{href: "#{service_path(item)}"}
                = image_tag(item.pc_front_image || '', title: item.title, alt: item.title, class: "service-info-image")
              .service-info-content
                .title= item.title
                .desc.gray-text= item.sub_title