.col-md-6
  = form_for @service, url: url do |f|
    - if @service.errors.any?
      .form-group
        %ul
          - @service.errors.messages.each do |key,msg|
            %li= msg.join(',')
    .form-group
      = f.label "*名称"
      %br
      = f.text_field :title, class: 'form-control'

    .form-group
      = f.label "费用"
      %br
      = f.text_field :price, class: 'form-control'

    .form-group
      = f.label "定金"
      %br
      = f.text_field :earnest_price, class: 'form-control'

    .form-group
      = f.label "预约人数"
      %br
      = f.text_field :count_string, class: 'form-control'

    .form-group
      = f.label "提前预约天数"
      %br
      = f.text_field :advance_days, class: 'form-control'
    
    .form-group
      = f.label "描述"
      %br
      = f.text_area :description, class: 'form-control'

    .form-group
      = f.label "是否创建微信付款记录"
      = f.select :create_tenpay, options_for_select({'是' => true, '否' => false}, @service.create_tenpay), {}, class: 'form-control'


    .form-group
      = f.label "是否启用"
      = f.select :active, options_for_select({'是' => true, '否' => false}, @service.active), {}, class: 'form-control'
    .form-group
      = f.text_field :front_image, style: 'display: none'
      = render partial: 'upload_image', locals: {item: @service, image_name: 'front_image', image_size: '首页图片(220x220)', button_name: 'front-image', input_name: 'service_front_image', upload_url: file_upload_admin_services_path(type: 'front')}
    .form-group
      = f.text_field :pc_front_image, style: 'display: none'
      = render partial: 'upload_image', locals: {item: @service, image_name: 'pc_front_image', image_size: '电脑首页图片(380x200)', button_name: 'pc-front-image', input_name: 'service_pc_front_image', upload_url: file_upload_admin_services_path(type: 'pc-front')}

    .form-group
      = f.text_field :detailed_image, style: 'display: none'
      = render partial: 'upload_image', locals: {item: @service, image_name: 'detailed_image', image_size: '详细页图片(750x360)', button_name: 'detailed-image', input_name: 'service_detailed_image', upload_url: file_upload_admin_services_path(type: 'detailed')}



    = f.submit '保存', class: 'btn btn-success'