%h2 整理服务列表
- if true
  = search_form_for @q, url: admin_services_path, html: {class: 'form-inline'} do |f|
    .form-group
      = f.search_field :title_cont, class: "form-control", placeholder: "服务名称"
    = f.submit '查询', class: "btn btn-secondary"
    = link_to '新建整理服务', new_admin_service_path, class: "btn btn-success"

- if false
  .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    %h1.h2 课程列表
    .btn-toolbar.mb-2.mb-md-0
      .btn-group.mr-2
        %button.btn.btn-sm.btn-outline-secondary 新建
        %button.btn.btn-sm.btn-outline-secondary Export
      %button.btn.btn-sm.btn-outline-secondary.dropdown-toggle
        %span{"data-feather" => 'calendar'} This week

%br
%div
  总数： 
  = @services.total_count
.table-responsive
  %table.table.table-striped.table-sm
    %thead
      %tr
        %th 名称
        - if false
          %th 城市名称
        %th 费用
        %th 预约人数
        %th 首页图片
        %th 详细页图片
        %th 是否启用
        %th 操作
    %tbody
      - @services.each do |item|
        - p item
        %tr
          %td= item.title
          - if false
            %td= item.city_name
          %td= item.price
          %td= item.count_string
          %td= image_tag(item.front_image || '', width: '100px')
          %td= image_tag(item.detailed_image || '', width: '100px')
          %td= item.active
          %td
            = link_to '修改', edit_admin_service_path(item)
  = paginate @services
