%h2 整理服务列表
- if true
  = search_form_for @q, url: admin_services_path, html: {class: 'form-inline'} do |f|
    .form-group
      = f.search_field :title_cont, class: "form-control", placeholder: "服务名称"
    = f.submit '查询', class: "btn btn-secondary"
    = link_to '新建整理服务', new_admin_service_path, class: "btn btn-success"

- if false
  .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    %h1.h2 课程列表
    .btn-toolbar.mb-2.mb-md-0
      .btn-group.mr-2
        %button.btn.btn-sm.btn-outline-secondary 新建
        %button.btn.btn-sm.btn-outline-secondary Export
      %button.btn.btn-sm.btn-outline-secondary.dropdown-toggle
        %span{"data-feather" => 'calendar'} This week

%br
%div
  总数： 
  = @items.total_count
.table-responsive
  %table.table.table-striped.table-sm
    %thead
      %tr
        %th sku
        %th 名称
        %th 短描述
        - if false
          %th 城市名称
        %th 费用
        %th 定金
        %th 预约人数
        %th 提前预约天数
        %th 开始时间
        %th 结束时间
        %th 首页图片
        %th 电脑首页图片
        %th 详细页图片
        %th 电脑详细页图片
        %th 运营提成
        %th 是否启用
        %th 自动创建微信付款记录
        %th 操作
    %tbody(ondragstart="dragEnterHandler(event)" ondragover="dragOverHandler(event)" ondragend="dragEndHandler(event)")
      - @items.each do |item|
        - @draggable = true
        %tr(id="item-#{item.id}" draggable='true' data-id= "#{item.id}" data-up_url= "#{up_serial_admin_services_path(:id =>item.id)}" data-down_url= "#{down_serial_admin_services_path(:id =>item.id)}")
          %td= item.id
          %td= item.title
          %td= item.sub_title
          - if false
            %td= item.city_name
          %td= item.price
          %td= item.earnest_price
          %td= item.count_string
          %td= item.advance_days
          %td= item.start_time.present? ? item.start_time.strftime("%F %H:%M") : ''
          %td= item.end_time.present? ? item.end_time.strftime("%F %H:%M") : ''
          %td= image_tag(change_to_qiniu_https_url(item.front_image || ''), width: '100px')
          %td= image_tag(change_to_qiniu_https_url(item.pc_front_image || ''), width: '100px')
          %td= image_tag(change_to_qiniu_https_url(item.detailed_image || ''), width: '100px')
          %td= image_tag(change_to_qiniu_https_url(item.pc_detailed_image || ''), width: '100px')
          %td= item.service_percent
          %td= active_chinese_name(item)
          %td= show_active_chinese_name(item.create_tenpay)
          %td
            = link_to '修改', edit_admin_service_path(item)
            |
            - if item.active
              = link_to '关闭', disable_admin_service_path(item), :method => :put
            - else
              = link_to '启用', enable_admin_service_path(item), :method => :put
            |
            = link_to "详情图片", admin_product_product_images_path(item)
  = paginate @items
