.col-md-6
  = form_for @item, url: url do |f|
    - if @item.errors.any?
      .form-group
        %ul
          - @item.errors.messages.each do |key,msg|
            %li= msg.join(',')

    .form-group
      = f.label "*城市名称"
      %br
      = f.text_field :city_name, class: 'form-control'

    .form-group
      = f.label "*开课时间"
      %br
      %span 开始日期以英文‘-’分隔：1开始日期-1结束日期， 例如：课程时间为：6月29-6月30, 信息填写 06.29-06.30
      = f.text_field :date_info, class: 'form-control'

    .form-group
      = f.label "*开课地址"
      %br
      = f.text_area :address, class: 'form-control'

    .form-group
      = f.label "备注"
      %br
      = f.text_area :notes, class: 'form-control'

    .form-group
      = f.label "是否启用"
      = f.select :active, options_for_select({'是' => true, '否' => false}, @item.active), {}, class: 'form-control'

    = f.submit '保存', class: 'btn btn-success'


