%h2 介绍信息列表
= search_form_for @q, url: admin_introduces_path, html: {class: 'form-inline'} do |f|
  .form-group
    = f.search_field :title_cont, class: "form-control", placeholder: "名称"
  .form-group
    = f.label '图片类型'
    = select_tag "q[ad_type_eq]", options_for_select(Introduce::ITEM_TYPE.invert, @params[:ad_type_eq]), include_blank: true, class: "form-control"
  = f.submit '查询', class: "btn btn-secondary"
  = link_to '新建介绍信息', new_admin_introduce_path, class: "btn btn-success"

%br
%div
  总数： 
  = @items.total_count
.table-responsive
  %table.table.table-striped.table-sm
    %thead
      %tr
        %th 名称
        %th 标签
        %th 图片类型
        %th 手机图片
        %th 电脑图片
        %th 是否启用
        %th 操作
    %tbody
      - @items.each do |item|
        %tr
          %td= item.title
          %td= item.tag
          %td= Introduce::ITEM_TYPE[item.item_type]          
          %td= item.mobile_image ? image_tag(item.mobile_image, width: '100px') : ''
          %td= item.pc_image ? image_tag(item.pc_image, width: '100px') : ''
          %td= active_chinese_name(item)
          %td
            = link_to '修改', edit_admin_introduce_path(item)
            |
            = link_to '删除', admin_introduce_path(item), :method => :delete, :data => { :confirm => '确定删除?' }
  = paginate @items



