.col-md-6
  = form_for @order, url: url do |f|
    = f.hidden_field :admin_id
    = f.hidden_field :order_type
    - if @order.errors.any?
      .form-group
        %ul
          - @order.errors.messages.each do |key,msg|
            %li= msg.join(',')
    - if @errors.present?
      .form-group
        %ul
          %li= @errors.values.join(',')
    - if params[:action] != 'new'
    - elsif @order.order_type
      .form-group
        - if @order.order_type == Order::SERVICE_ORDER
          = f.label '整理服务'
        - elsif @order.order_type == Order::COURSE_ORDER
          = f.label '课程'
        - elsif @order.order_type == Order::PRODUCT_ORDER
          = f.label '收纳工具'
        - else
          = f.label '订单类型'
        = select_tag :purchased_item_id, options_for_select(Product.get_purchased_items(@order.order_type), params[:purchased_item_id]), include_blank: true, class: "form-control"
    - else
      .form-group
        = f.label "订单类型"
        = f.select :order_type, options_for_select(Order::ORDER_TYPE.invert, @order.order_type), {}, class: 'form-control'
    .form-group
      - if @order.order_type == Order::SERVICE_ORDER
        = f.label '城市'
      - elsif @order.order_type == Order::COURSE_ORDER
        = f.label '开课城市'
      - elsif @order.order_type == Order::PRODUCT_ORDER
        = f.label '收货城市'
      - else
        = f.label '城市'
      %br
      = f.text_field :city_name, class: 'form-control'

    .form-group
      - if @order.order_type == Order::COURSE_ORDER
        = f.label '*学员名称'
      - else
        = f.label '订购人'
      %br
      = f.text_field :customer_name, class: 'form-control'

    .form-group
      - if @order.order_type == Order::COURSE_ORDER
        = f.label '*学员电话'
      - else
        = f.label '*订购电话'
      %br
      = f.text_field :customer_phone_number, class: 'form-control'

    .form-group
      = f.label "推荐人"
      %br
      = f.text_field :referral_name, class: 'form-control'

    .form-group
      = f.label "推荐电话"
      %br
      = f.text_field :referral_phone_number, class: 'form-control'
    - if [Order::SERVICE_ORDER, Order::PRODUCT_ORDER].include?(@order.order_type)

      .form-group
        = f.label "地址"
        %br
        = f.text_field :location_address, class: 'form-control'

      .form-group
        = f.label "定位地址"
        %br
        = f.text_field :location_title, class: 'form-control'

      .form-group
        = f.label "详细地址"
        %br
        = f.text_field :location_details, class: 'form-control'
    - if [Order::SERVICE_ORDER].include?(@order.order_type)
      .form-group
        = f.label "*开始日期"
        %br
        = f.text_field :start_date, class: 'form-control', type: :date
      .form-group
        = f.label "*结束日期"
        %br
        = f.text_field :end_date, class: 'form-control', type: :date

    - if [Order::SERVICE_ORDER, Order::PRODUCT_ORDER, Order::COURSE_ORDER].include?(@order.order_type)
      .form-group
        = f.label "订单状态"
        = f.select :status, options_for_select(Order::STATUS.invert, @order.status), {}, class: 'form-control'
    - if [Order::SERVICE_ORDER].include?(@order.order_type)
      .form-group
        = f.label '服务备注'
        %br
        = f.text_area :service_notes, class: 'form-control'
    - if [Order::PRODUCT_ORDER].include?(@order.order_type)
      .form-group
        = f.label "订单折扣"
        = f.select :zhekou, options_for_select(User::ZHEKOU.invert, @order.zhekou), {}, class: 'form-control'
    .form-group
      = f.label "备注"
      %br
      = f.text_area :notes, class: 'form-control'

    = f.submit '保存', class: 'btn btn-success'
