.col-md-6
  = form_for @order, url: url do |f|
    = f.hidden_field :admin_id
    - if @order.errors.any?
      .form-group
        %ul
          - @order.errors.messages.each do |key,msg|
            %li= msg.join(',')
    .form-group
      = f.label "订单类型"
      = f.select :order_type, options_for_select(Order::ORDER_TYPE.invert, @order.order_type), {}, class: 'form-control'
    .form-group
      = f.label "城市"
      %br
      = f.text_field :city_name, class: 'form-control'

    .form-group
      = f.label "订购人"
      %br
      = f.text_field :customer_name, class: 'form-control'

    .form-group
      = f.label "订购电话"
      %br
      = f.text_field :customer_phone_number, class: 'form-control'

    .form-group
      = f.label "推荐人"
      %br
      = f.text_field :referral_name, class: 'form-control'

    .form-group
      = f.label "推荐电话"
      %br
      = f.text_field :referral_phone_number, class: 'form-control'

    .form-group
      = f.label "地址"
      %br
      = f.text_field :location_address, class: 'form-control'

    .form-group
      = f.label "*开始日期"
      %br
      = f.text_field :start_date, class: 'form-control', type: :date
    .form-group
      = f.label "*结束日期"
      %br
      = f.text_field :end_date, class: 'form-control', type: :date
    .form-group
      = f.label "订单状态"
      = f.select :status, options_for_select(Order::STATUS.invert, @order.status), {}, class: 'form-control'

    = f.submit '保存', class: 'btn btn-default'
