%h2 订单收入列表
%h5 说明
%p 1. 查询结果，不包含取消订单
%p 2. ✅ 代表该条交易已收钱
%p 3.服务整理、课程、收纳工具可以一起搜索， 输入其对应的sku 
%p 4.多个sku请用英文逗号分割。此条件为包含关系查询，即当输入'1,25'时，查询的是【空间诊断】整理服务 或者 含【透明抽屉柜】收纳工具 订单
= render :partial => 'search', :locals => {url: accounting_admin_orders_path, order_list: true}

%div
  总数： 
  = @orders.total_count
%div
  已付款：
  = @order_paided_count.round(2)
%div
  未付款：
  = @order_unpaid_count.round(2)
.table-responsive
  %table.table.table-striped.table-sm
    %thead
      %tr
        %th 单号
        %th 城市
        %th 状态
        %th 折扣
        %th 付款信息
        %th 产品信息
        %th 总金额
        %th 订购人
        %th 推荐人
        %th 组织人
        %th 创建时间
        %th 支付时间
    %tbody
      - @orders.each do |item|
        - order_payment_records = @order_payment_records.select{|i| i.order_id == item.id}
        %tr
          %td= link_to item.external_id, admin_order_path(item)
          %td= item.city_name || item.address_city
          %td= Order::STATUS[item.status]
          %td= item.zhekou
          %td
            - order_payment_records.each do |sub_item|
              %div
                %span= sub_item.payment_name
                %span= "¥#{sub_item.cost}"
                - if sub_item.transaction_id.present?
                  %span= "交易号：#{sub_item.transaction_id}"
                - if sub_item.timestamp.present?
                  %span ✅
          %td
            - item.purchased_items.each do |sub_item|
              - product = @product_hash[sub_item.product_id]
              - if product
                - if item.is_product?
                  %div #{product[:title]}x#{sub_item.quantity}
                - else
                  %div #{product[:title]}
          %td= order_payment_records.map{|i| i.cost}.sum.round(2)
          %td
            - user = @users.select{|u| u.id == item.user_id}.first
            = "#{user.name}|#{user.phone_number}|#{user.show_status}"
          %td= show_referral_info(item, @phone_numbers_infos)
          %td= show_organizer_info(item, @phone_numbers_infos)
          %td= item.created_at.strftime('%F %T')
          %td
            - if order_payment_records.present?
              = order_payment_records[0].timestamp.strftime('%F %T')
            - else
              = ''
  = paginate @orders
