%table.table.table-bordered
  %tr
    %th 类型
    %td= Order::ORDER_TYPE[@order.order_type]
  %tr
    %th 单号
    %td= @order.external_id
  %tr
    %th 城市
    %td= @order.city_name
  %tr
    %th 订购人
    %td= "#{@order.customer_name}|#{@order.customer_phone_number}"
  %tr
    %th 开始和结束日期
    %td= "#{@order.start_date}~#{@order.end_date}"
  %tr
    %th 地址
    %td= @order.location_address
  %tr
    %th 服务备注
    %td= @order.service_notes
  %tr
    %th 服务人员
    %td
      - @order.order_arranger_assignments.includes(:arranger).order(:item_type).each do |item|
        %div #{OrderArrangerAssignment::ITEM_TYPE[item.item_type]}： #{item.arranger.name} 
  %tr
    %th 产品类型
    %td
      - @order.purchased_items.includes(:product).each do |item|
        - if @order.order_type == Order::SERVICE_ORDER
          %div= item.product.title
        - else
          %div #{item.product.title} x #{item.quantity}
