%h2 订单列表
- if true
  = search_form_for @q, url: admin_orders_path, html: {class: 'form-inline'} do |f|
    .form-group
      = f.search_field :external_id_cont, class: "form-control", placeholder: "单号"
    .form-group
      = f.search_field :location_address_cont, class: "form-control", placeholder: "地址"
    .form-group
      = f.search_field :customer_phone_number_cont, class: "form-control", placeholder: "订购人电话"
    .form-group
      = f.search_field :referral_name_cont, class: "form-control", placeholder: "推荐人"
    .form-group
      = f.search_field :referral_phone_number_cont, class: "form-control", placeholder: "推荐人电话"

    .form-group
      = f.label "开始日期"
      = f.date_field :start_date_gteq, class: "form-control"
      = f.label "截止日期"
      = f.date_field :end_date_lteq, class: "form-control"

    .form-group
      = f.search_field :city_name_cont, class: "form-control", placeholder: "城市"

    .form-group
      = f.label '创建人'
      = select_tag "q[admin_id_eq]", options_for_select(Admin.pluck(:user_name, :id).to_h, @params[:admin_id_eq]), include_blank: true, class: "form-control"

    .form-group
      = f.label '订单状态'
      = select_tag "q[status_eq]", options_for_select(Order::STATUS.invert, @params[:status_eq]), include_blank: true, class: "form-control"

    .form-group
      = f.label '订单类型'
      = select_tag "q[order_type_eq]", options_for_select(Order::ORDER_TYPE.invert, @params[:order_type_eq]), include_blank: true, class: "form-control"

    = f.submit '查询', class: "btn btn-secondary"
    = link_to '新建订单', new_admin_order_path, class: "btn btn-success"

- if false
  .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    %h1.h2 课程列表
    .btn-toolbar.mb-2.mb-md-0
      .btn-group.mr-2
        %button.btn.btn-sm.btn-outline-secondary 新建
        %button.btn.btn-sm.btn-outline-secondary Export
      %button.btn.btn-sm.btn-outline-secondary.dropdown-toggle
        %span{"data-feather" => 'calendar'} This week
%br
%div
  总数： 
  = @orders.total_count
.table-responsive
  %table.table.table-striped.table-sm
    %thead
      %tr
        %td 单号
        %th 创建人
        %th 订购人
        %th 城市
        %th 状态
        %th 开始和结束日期
        %th 推荐人
        %th 创建时间
        %th 操作
    %tbody
      - @orders.each do |item|
        %tr
          %td= item.external_id
          %td= @admins_hash[item.admin_id]
          %td= "#{item.customer_name}|#{item.customer_phone_number}"
          %td= item.city_name
          %td= Order::STATUS[item.status]
          %td= "#{item.start_date}~#{item.end_date}"
          %td= "#{item.referral_name}|#{item.referral_phone_number}"
          %td= item.created_at.strftime('%F %T')
          %td
            = link_to '详情', admin_order_path(item)
            |
            = link_to '修改', edit_admin_order_path(item)
            |
            = link_to "#{Order::ORDER_TYPE[item.order_type]}信息", admin_order_purchased_items_path(item)
            |
            = link_to "服务人员", admin_order_order_arranger_assignments_path(item)
            |
            = link_to '费用', admin_order_order_payment_records_path(item)
            
  = paginate @orders
