%h2 订单收入列表
%h5 说明
%p 1. 查询结果，不包含取消订单
%p 2.产品sku： 多个产品sku请用英文逗号分割。此条件为包含关系查询，即当输入'3,25'时，查询的是第51期职业整理师训练营（沈阳站）课程和有透明抽屉柜的订单
- if true
  = render :partial => 'search', :locals => {url: admin_orders_path, order_list: true}
  %br
  = link_to '新建整理服务订单', new_admin_order_path, class: "btn btn-success"
  = link_to '新建课程订单', new_admin_order_path(order_type: 'Course'), class: "btn btn-success"
  = link_to '新建收纳工具订单', new_admin_order_path(order_type: 'Product'), class: "btn btn-success"
  %br

- if false
  .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    %h1.h2 课程列表
    .btn-toolbar.mb-2.mb-md-0
      .btn-group.mr-2
        %button.btn.btn-sm.btn-outline-secondary 新建
        %button.btn.btn-sm.btn-outline-secondary Export
      %button.btn.btn-sm.btn-outline-secondary.dropdown-toggle
        %span{"data-feather" => 'calendar'} This week
%br
%div
  总数： 
  = @orders.try(:total_count) || 0
.table-responsive
  %table.table.table-striped.table-sm
    %thead
      %tr
        %th 单号
        %th 创建人
        %th 订购人
        %th 收货人（学员）信息
        %th 产品信息
        %th 城市
        %th 状态
        %th 开始和结束日期
        %th 推荐人
        %th 组织人
        %th 折扣
        %th 创建时间
        %th 修改时间
        %th 操作
    %tbody
      - @orders.each do |item|
        %tr
          %td= link_to item.external_id, admin_order_path(item)
          %td= @admins_hash[item.admin_id]
          %td= "#{@users_hash[item.user_id]}|#{item.customer_phone_number}"
          %td= "#{item.recipient_name}|#{item.recipient_phone_number}"
          %td
            - item.purchased_items.each do |sub_item|
              - product = @product_hash[sub_item.product_id]
              - if product
                - if item.order_type == Order::PRODUCT_ORDER
                  %div #{product[:title]}x#{sub_item.quantity}
                - else
                  %div #{product[:title]}
          %td= item.city_name
          %td= Order::STATUS[item.status]
          %td= "#{item.start_date}~#{item.end_date}"
          %td= "#{item.referral_name}|#{item.referral_phone_number}"
          %td= "#{item.organizer_name}|#{item.organizer_phone_number}"
          %td= item.zhekou
          %td= item.created_at.strftime('%F %T')
          %td= item.updated_at.strftime('%F %T')
          %td
            = link_to '详情', admin_order_path(item)
            |
            = link_to '修改', edit_admin_order_path(item)
            |
            = link_to "#{Order::ORDER_TYPE[item.order_type]}信息", admin_order_purchased_items_path(item)
            - if item.order_type == Order::SERVICE_ORDER
              |
              = link_to "服务人员", admin_order_order_arranger_assignments_path(item)
            |
            = link_to '费用', admin_order_order_payment_records_path(item)
            - if item.order_type == Order::PRODUCT_ORDER
              |
              = link_to '配送单', admin_order_delivery_orders_path(item)
            |
            = link_to '完成', completed_admin_order_path(item), :method => :put, :data => { :confirm => '确定完成订单?' }
            |
            = link_to '取消', canceled_admin_order_path(item), :method => :put, :data => { :confirm => '确定取消订单?' }
            
  - if @orders.present?  
    = paginate @orders
