.gray-list-content
  - if @items.present?
    .container.margin-b20.info-show-content
      - @items.each do |item|
        .case-info-list.circle-img.margin-t20
          .case-img
            = image_tag change_to_qiniu_https_url(item.pc_image || ''), title: item.title, alt: item.title, class: 'left-img circle-img d-none d-sm-block'
            = image_tag change_to_qiniu_https_url(item.mobile_image || ''), title: item.title, alt: item.title, class: 'left-img circle-img d-sm-none'
          .case-content
            .title
              %span.case-name= item.title
            .content= item.description
          %a.case-btn{href: "#{item.url}"}
            .red-reverse-bg.btn-span.cursor-text 查看详情
  - else
    .container.margin-t20.margin-b20.info-show-content
      .title.center-text - 暂无信息 -
