.swiper-container.pc-slideshows-swiper
  .swiper-wrapper
    - @slideshows.each do |item|
      .swiper-slide
        %a{href: ''}
          = image_tag(item.pc_image, title: item.title, alt: item.title)
  .swiper-pagination.pc-swiper-pagination

.white-list-content
  .center-img.mb-padding-10px
    = image_tag('home/youshi.png', title: '莉家整理优势', alt: "莉家整理六大核心优势")
.service-list-content
  .container.margin-b20.margin-t20
    .row
      .col-md-12.center-text
        .line-title.title-font 预约整理
        .sub-title-font.margin-t5 衣橱整理、空间规划、 搬家打包、全屋整理 莉家致力于解决您的收纳难题
      .swiper-container.pc-button-swiper.margin-t20.d-none.d-sm-block
        .swiper-wrapper
          - @services.each do |item|
            .col-md-4.swiper-slide.md-32width
              .service-image-list-content.margin-t10.margin-b10.gray-shadow
                %a{href: "#{service_path(item)}"}
                  = image_tag(item.pc_front_image || '', title: item.title, alt: item.title, class: "service-info-image")
                .service-info-content
                  .title= item.title
                  .desc= item.description
                  .margin-t10
                    %span.red-reverse-bg.btn-span.cursor-text{:onclick =>"showAppletPop('扫码预约', '扫一扫 小程序下单预约')"} 立即预约
                    %span.rigth-span.gray-text.margin-t5= "服务已预约：#{item.show_count_string || 999}"
        .swiper-button-next
        .swiper-button-prev

      - if false

        .margin-t20.d-md-none
          - @services.each do |item|
            .col-md-12
              .service-image-list-content.margin-t10.margin-b10.gray-shadow
                %a{href: "#{service_path(item)}"}
                  = image_tag(item.pc_front_image || '', title: item.title, alt: item.title, class: "service-info-image")
                .service-info-content
                  .title= item.title
                  .desc= item.description
                  .margin-t10
                    %span.red-reverse-bg.btn-span.cursor-text{:onclick =>"showAppletPop('扫码报名', '扫一扫 小程序下单报名')"} 立即报名
                    %span.rigth-span.gray-text.margin-t5= "服务已预约：#{item.show_count_string || 999}"
      - else
        .margin-t20.padding-0px.d-sm-none.mb-service-index-content
          - @services.each do |item|
            .mb-service-list.gray-shadow
              %a.left-content{href: "#{service_path(item)}"}
                = image_tag(item.front_image || '', title: item.title, alt: item.title, class: "service-info-image")
              .service-info-content
                .title= item.title
                .margin-t5.desc= item.description
                .margin-t20
                  %span.gray-text= "已预约：#{item.show_count_string || 999}"
                  %span.rigth-span.red-reverse-bg.btn-span.cursor-text.margin-nt5{:onclick =>"showAppletPop('扫码预约', '扫一扫 小程序下单预约')"} 立即预约

.white-list-content
  .container.margin-b20.margin-t20
    .row
      .col-md-12.center-text
        .line-title.title-font 培训课程
        .sub-title-font.margin-t5 职业整理师，实操经验丰富的讲师亲自带队，现场教学
      .col-md-12.padding-0px
        - @courses.each do |item|
          .col-md-6.course-image-list-content.margin-t20
            %a{href: "#{course_path(item)}"}
              = image_tag(item.pc_front_image || '', title: item.title, alt: item.title, class: "info-image")
            .info-content.red-shadow{:onclick =>"showAppletPop('扫码报名', '扫一扫 小程序下单报名')"}
              .title= item.title
              - sub_item = @courses_extends.select{|i| i.course_id == item.id}.first
              - if sub_item and sub_item.show_city_list
                %span.red-text.font-18px= "¥ #{item.price}"
              - else
                .content.margin-t10
                  %span.red-span.left-span
                    %span.icon-15.icon-marker.left-icon
                    %span.font-small= item.city_name
                  %span.margin-l5= item.course_short_time
                %span.right-span.red-text.font-18px= "¥ #{item.price}"
                


.gray-list-content
  .container.margin-b20.margin-t20
    .row
      .col-md-12.center-text
        .line-title.title-font 收纳工具
        .sub-title-font.margin-t5 合理的使用收纳工具，会让我们的整理工作更加有条理
      .col-md-12.padding-0px
        - @goods.each do |item|
          - set = @good_sets.where(id: item.product_set_id).first
          .col-md-3.good-image-list-content.margin-t20.gray-shadow
            %a{href: "#{good_path(item)}"}
              = image_tag(set.try(:pc_front_image) || item.pc_front_image || '', title: item.title, alt: item.title, class: "info-image")
            .info-content
              .title= item.title
              .red-text.font-18px= "¥ #{item.price}"
              %span.right-span.icon-30.icon-cart.cursor-text{:onclick =>"showAppletPop('扫码订购', '扫一扫 小程序下单订购')"}



:javascript
  $(document).ready(function(){
    Lijiaweb.SwiperLijia.init();
  });
