- if @info.present?
  .banner-list-content
    = image_tag @info.pc_image || '', title: @info.title, alt: @info.title, class: 'banner-img d-none d-sm-block'
    = image_tag @info.pc_image || '', title: @info.title, alt: @info.title, class: 'banner-img d-sm-none'
.gray-list-content
  .container.margin-b20.info-show-content
    .row
      .col-md-12.white-show-content.margin-nt100
        .center-text.title-list
          %span.info-title 莉家整理
        .margin-t20
          - (@info.description || '').split("\r\n").each do |info|
            %p= info

      .col-md-12.white-show-content.margin-t20
        .center-text.title-list-nborder
          %span.info-title 讲师介绍
        - @teachers.each do |item|
          .col-md-6.teacher-list-content
            .teacher-info-list.width-red-shadow
              .left-img
                = image_tag item.mobile_image || '', title: item.name + item.tag, alt: item.name + item.tag, class: 'circle-img'
              .right-content
                .title
                  %span.teacher-name= item.name
                  %span.teacher-tag.margin-l5.d-none.d-sm-block= item.web_tag
                .red-text.margin-t10.d-sm-none= item.web_tag
                .content.margin-t10.d-none.d-sm-block= item.introduce

      .col-md-12.white-show-content.margin-t20
        .center-text.title-list-nborder
          %span.info-title 优秀整理团队
        .col-md-12.margin-t20.mb-padding-0px.mb-margin-t10
          - @teams.each do |item|
            .service-list-content.circle-img.margin-t20
              .teacher-info-list.introduct-info-list
                = image_tag item.pc_image || '', title: item.title + item.tag, alt: item.title + item.tag, class: 'left-img circle-img d-none d-sm-block'
                = image_tag item.mobile_image || '', title: item.title + item.tag, alt: item.title + item.tag, class: 'left-img circle-img d-sm-none'
                .right-content
                  .title.margin-t20
                    %span.teacher-name= item.title
                    - if item.tag.present?
                      %span.teacher-tag.margin-l5= item.tag
                  .content.margin-t10= item.description
        
      .col-md-12.white-show-content.margin-t20
        .center-text.title-list-nborder
          %span.info-title 合伙人扶持计划
        .margin-t20.mb-margin-t10
          = image_tag @franchise.pc_image || '', title: @franchise.title, alt: @franchise.title, class: 'circle-img'
        .margin-t20
          - (@franchise.description || '').split("\r\n").each do |info|
            %p= info