%h2 整理师列表
- if true
  = search_form_for @q, url: admin_arrangers_path, html: {class: 'form-inline'} do |f|
    .form-group
      = f.search_field :name_cont, class: "form-control", placeholder: "姓名"
    .form-group
      = f.search_field :phone_number_cont, class: "form-control", placeholder: "电话"
    .form-group
      = f.search_field :address_city_cont, class: "form-control", placeholder: "城市"
    .form-group
      = f.search_field :orders_count_gteq, class: "form-control", placeholder: "总单量起"
    .form-group
      = f.search_field :orders_count_lteq, class: "form-control", placeholder: "总单量止"
    .form-group
      = f.label '是否启用'
      = select_tag "q[active_eq]", options_for_select({'是' => true, '否' => false}, @params[:active_eq]), include_blank: true, class: "form-control"
    = f.submit '查询', class: "btn btn-md btn-secondary"
    = link_to '新建整理师信息', new_admin_arranger_path, class: "btn btn-success"


%div
  总数： 
  = @arrangers.total_count
.table-responsive
  %table.table.table-striped.table-sm
    %thead
      %tr
        %th 名称
        %th 城市
        %th 总单量
        %th 基础单量
        %th 电话号码
        %th 是否启用
        %th 操作
    %tbody
      - @arrangers.each do |item|
        %tr
          %td= item.name
          %td= item.address_city
          %th= item.orders_count
          %th= item.base_order_count
          %td= item.phone_number
          %td= active_chinese_name(item)
          %td
            = link_to '修改', edit_admin_arranger_path(item)
            |
            = link_to '订单', service_orders_admin_arranger_path(item)
  = paginate @arrangers
