%h3 修改整理服务结算信息

= link_to '返回', admin_applies_path, class: "btn btn-secondary"

.col-md-6
  = form_for @item, url: admin_apply_path(@item) do |f|
    - if @item.errors.any?
      .form-group
        %ul
          - @item.errors.messages.each do |key,msg|
            %li= msg.join(',')

    .form-group
      = f.label "费用"
      %br
      = f.text_field :cost, class: 'form-control'
    - if false
      .form-group
        = f.label "状态"
        = f.select :status, options_for_select(Apply::STATUS.invert, @item.status), {}, class: 'form-control'

    .form-group
      = f.label '备注'
      %br
      = f.text_area :notes, class: 'form-control'

    = f.submit '保存', class: 'btn btn-success'


%br

%h5 订单明细
%div
  总数： 
  = @order_payment_records.sum(:cost)
  应申请费用：
  = @total_fee
.table-responsive
  %table.table.table-striped.table-sm
    %thead
      %tr
        %th 订单号
        %th 产品名称
        %th 费用信息
        %th 申请费用
    %tbody
      - @apply_items.each do |item|
        - order = @order_infos.select{|o| o.id == item.item_id}.first
        %tr
          %td= link_to order.external_id, admin_order_path(order)
          %td
            - order.purchased_items.each do |sub_item|
              - product = @product_hash[sub_item.product_id]
              - if product
                %div #{product.title} * #{product.service_percent}
          %td
            - @order_payment_records.select{|r| r.order_id == item.item_id}.each do |records|
              %div
                - if records.timestamp.present?
                  %span ✅
                #{records.payment_method_name}：¥#{records.cost}， 备注： #{records.remark}

          %td= Order.user_orders_achievement([order])




