%h2 费用申请列表
%h5 说明
%p 1. 查询结果，不包含取消申请
= search_form_for @q, url: admin_applies_path, html: {class: 'form-inline'} do |f|
  .form-group
    = text_field_tag :customer_name_cont, params[:customer_name_cont], class: "form-control", placeholder: "订购人"
  .form-group
    = text_field_tag :customer_phone_number_cont, params[:customer_phone_number_cont], class: "form-control", placeholder: "订购人电话"
  .form-group
    = f.label '申请状态'
    = select_tag "q[status_eq]", options_for_select(Apply::STATUS.invert, @params[:status_eq]), include_blank: true, class: "form-control"

  = f.submit '查询', class: "btn btn-secondary"

%br
%div
  总数： 
  = @items.total_count
.table-responsive
  %table.table.table-striped.table-sm
    %thead
      %tr
        %th ID
        %th 费用
        %th 操作人
        %th 联系人
        %th 状态
        %th 备注
        %th 操作
    %tbody
      - @items.each do |item|
        %tr
          %td= item.id
          %td= item.cost
          %td= @admins_hash[item.admin_id]
          %td
            - user = @users_hash[item.user_id]
            = "#{user.name} | #{user.phone_number}"
          %td= Apply::STATUS[item.status]
          %td= item.notes
          %td
            = link_to '修改', edit_admin_apply_path(item)
            |
            = link_to '完成', completed_admin_apply_path(item), :method => :put, :data => { :confirm => '确定完成申请?' }
            |
            = link_to '取消', canceled_admin_apply_path(item), :method => :put, :data => { :confirm => '确定取消申请?' }
  = paginate @items
