.col-md-6
  = form_for @item, url: url do |f|
    - if @item.errors.any?
      .form-group
        %ul
          - @item.errors.messages.each do |key,msg|
            %li= msg.join(',')

    .form-group
      = f.label "*付款方式"
      %br
      = f.select :payment_method_id, options_for_select(OrderPaymentRecord::PAYMENT_METHOD_ID.invert, @item.payment_method_id), {}, class: 'form-control'
    .form-group
      = f.label "费用类型"
      %br
      例：整理收入、收纳工具收入、改造收入
      = f.text_field :payment_method_name, class: 'form-control'

    .form-group
      = f.label "*费用"
      %br
      说明： 收入填正数， 支出填负数
      = f.text_field :cost, class: 'form-control'

    .form-group
      = f.label "商户订单号"
      %br
      说明：如未付款此项不用填写
      = f.text_field :out_trade_no, class: 'form-control'

    .form-group
      = f.label "支付交易号"
      %br
      说明：如未付款此项不用填写
      = f.text_field :transaction_id, class: 'form-control'

    - if false
      .form-group
        = f.label "到账时间"
        %br
        说明： 请填写顾客实际付款时间， 如未付款此项不用填写
        - if @item.timestamp.present?
          = f.text_field :timestamp, class: 'form-control', type: :date, value: @item.timestamp.strftime("%F")
        - else
          = f.text_field :timestamp, class: 'form-control', type: :date

    .form-group
      = f.label "备注"
      %br
      = f.text_field :remark, class: 'form-control'

    = f.submit '保存', class: 'btn btn-success'
