%h2 订单费用列表

= link_to '返回', admin_orders_path, class: "btn btn-secondary"
= link_to "新建订单费用", new_admin_order_order_payment_record_path, class: "btn btn-success"

%br
%div
  总数： 
  = @items.total_count
.table-responsive
  %table.table.table-striped.table-sm
    %thead
      %tr
        %th 付款方式
        %th 费用类型
        %th 金额
        %th 商户订单号
        %th 支付交易号
        %th 付款时间
        %th 备注
        %th 操作
    %tbody
      - @items.each do |item|
        %tr
          %td= OrderPaymentRecord::PAYMENT_METHOD_ID[item.payment_method_id]
          %td= item.payment_method_name
          %td= item.cost
          - if item.cost > 0
            %td= item.out_trade_no
            %td= item.transaction_id
          - else item.cost < 0
            %td
              %div= item.out_trade_no
              %div.gray-color=item.batch_no
            %td
              %div= item.transaction_id
              %div.gray-color=item.refund_id
          %td= item.timestamp.present? ? item.timestamp.strftime("%F %T") : ''
          %td= item.remark
          %td
            - if !item.timestamp
              = link_to '修改', edit_admin_order_order_payment_record_path(@order, item)
              |
              = link_to '删除', admin_order_order_payment_record_path(@order, item), :method => :delete, :data => { :confirm => '确定删除?' }
            - elsif item.cost > 0
              %span.btn.btn-success{:onclick => "refundOnClick(#{item.id})"} 创建退款记录
            - elsif item.cost < 0
              %span 已退款
  = paginate @items


.v2-pop-container.v2-new-container#update-date-form
  .sub-content.black-color
    .pop-title
      申请退款
      .right-icon{onclick: "showOrHidePopForm()"} X
    = form_tag refund_admin_order_payment_records_path, method: 'post', class: "form-inline-dome" do
      = hidden_field_tag 'order_payment_record_id'
      .form-inline.margin-t10
        = label_tag "退款金额（填写负数）"
        = text_field_tag :cost, '', class: 'form-control'

      .form-inline.margin-t10
        = label_tag "退款理由"
        = text_area_tag 'remark', '', class: "form-control", id: "remark"

      .form-inline.margin-t20#form-save-btn
        %a.col-6
          .btn.btn-secondary.btn-100width{:onclick => "showOrHidePopForm()"} 取消
        %a.col-6
          .btn.btn-success.btn-100width{:onclick => "updateItemDate()", :title => '保存'} 保存

      .form-inline.margin-t20#form-save-loading{style: "display: none;"}
        %a.btn.btn-brown.btn-100width
          %span.fa.fa-spin.fa-refresh

:javascript

  function refundOnClick(item_id){
    document.getElementById("order_payment_record_id").value = item_id;
    showOrHidePopForm();

  }

  function showOrHidePopForm(){
    var this_form = document.getElementById('update-date-form');
    var display = this_form.style.display;
    if(!display || display == 'none')
      this_form.style.display = "block";
    else
      this_form.style.display = "none";
  }

  function updateItemDate(){
    var this_form = document.getElementsByClassName('form-inline-dome')[0];
    var apply_btn = document.getElementById('form-save-btn');
    apply_btn.style.display = "none";
    var apply_btn = document.getElementById('form-save-loading');
    apply_btn.style.display = "block";
    this_form.submit();
    return false;
  }