.col-md-6
  = form_for @item, url: url do |f|
    - if @item.errors.any?
      .form-group
        %ul
          - @item.errors.messages.each do |key,msg|
            %li= msg.join(',')

    .form-group
      = f.label "#{@order_type}"
      %br
      = f.select :product_id, options_for_select(Product.where(type: @order.order_type).pluck(:title, :id).to_h, @item.product_id), {}, class: 'form-control select2', 'data-live-search'=>"true", "data-size"=>"5"
    .form-group
      = f.label "费用"
      %br
      = f.text_field :price, class: 'form-control'

    .form-group
      = f.label "数量"
      %br
      = f.text_field :quantity, class: 'form-control'


    = f.submit '保存', class: 'btn btn-success'

:javascript
  $('.select2').selectpicker();