.banner-list-content
  = image_tag change_to_qiniu_https_url(@product.pc_detailed_image || ''), title: @product.title, alt: @product.title, class: 'banner-img'
  - if false
    .center-title.white-text.center-text.d-none.d-sm-block
      %span.line-white-title= @product.title

.gray-list-content
  .container.margin-b20
    .row
      .col-md-12.white-show-content.margin-nt100.course-show-content
        .margin-t10.center-text
          %span.title= @product.title
        .margin-t10
          %span 培训费：
          %span.red-text ¥#{@product.price}
          %span.margin-l10 报名人数：
          %span #{@product.max_count}
          %span /
          %span #{@product.available_order_count}
        .price.price-content
          %span.red-text ¥
          %span.red-text.current-price= @product.earnest_price
          %span.margin-l5.gray-text 定金
          %span.red-reverse-bg.btn-span.right-span.cursor-text{:onclick =>"showAppletPop('扫码报名', '扫一扫 小程序下单报名')"} 立即预约
        - if @product_extend and @product_extend.show_city_list

        - else
          .margin-t10.gray-text
            %span.with-icon-span
              %span.icon-addicon.icon-15.left-icon
              %span.font-small 开课城市：#{@product.city_name}
            %span.with-icon-span.margin-l15
              %span.icon-time.icon-15.left-icon
              %span.font-small 时间安排：#{@product.course_short_time}
            %span.with-icon-span.margin-l15
              %span.icon-addicon.icon-15.left-icon
              %span.font-small 详细地址：#{@product_extend.address}

      .col-md-12.mb-padding-0px.d-none.d-sm-block
        .swiper-container.pc-course-swiper.margin-t20
          .swiper-wrapper
            - @other_products.each do |item|
              .col-xs-6.col-md-3.swiper-slide
                .service-image-list-content.margin-t10.margin-b10.gray-shadow
                  %a{href: "#{course_path(item)}"}
                    = image_tag(change_to_qiniu_https_url(item.pc_front_image || ''), title: item.title, alt: item.title, class: "service-info-image")
                  .course-info-content
                    .title= item.title
                    - sub_item = @courses_extends.select{|i| i.course_id == item.id}.first
                    - if sub_item and sub_item.show_city_list
                      %span.red-text= "¥ #{item.price}"
                    - else
                      .gray-text.font-small= item.course_short_time
                      .right-span= item.city_name

          - if @other_products.length > 4
            .swiper-button-next
            .swiper-button-prev

      .col-md-12.mb-padding-0px.d-sm-none
        .swiper-container.mb-course-swiper.margin-t20
          .swiper-wrapper
            - @other_products.each do |item|
              .col-xs-6.col-md-3.swiper-slide
                .service-image-list-content.margin-t10.margin-b10.gray-shadow
                  %a{href: "#{course_path(item)}"}
                    = image_tag(change_to_qiniu_https_url(item.pc_front_image || ''), title: item.title, alt: item.title, class: "service-info-image")
                  .course-info-content
                    .title= item.title
                    - sub_item = @courses_extends.select{|i| i.course_id == item.id}.first
                    - if sub_item and sub_item.show_city_list
                      %span.red-text= "¥ #{item.price}"
                    - else
                      .gray-text.font-small= item.course_short_time
                      .right-span= item.city_name
          - if @other_products.length > 2
            .swiper-button-next.mb-swiper-button-next
            .swiper-button-prev.mb-swiper-button-prev

      .col-md-12.white-show-content.margin-t20.course-show-content
        .title-content 课程介绍
        .desc-content
          = raw(@product.web_content)
      

:javascript
  $(document).ready(function(){
    Lijiaweb.SwiperLijia.init();
  });
