%h2 用户列表

= search_form_for @q, url: admin_users_path, html: {class: 'form-inline'} do |f|
  .form-group
    = f.search_field :name_cont, class: "form-control", placeholder: "姓名"
  .form-group
    = f.search_field :phone_number_cont, class: "form-control", placeholder: "电话"
  .form-group
    = f.search_field :zhekou_lteq, class: "form-control", placeholder: "折扣"
  .form-group
    = f.label '类型'
    = select_tag "q[status_eq]", options_for_select(User::STATUS.invert, @params[:status_eq]), include_blank: true, class: "form-control"
  .form-group
    = f.label '大区'
    = select_tag "q[area_eq]", options_for_select(User::AREA_STATUS.invert, @params[:area_eq]), include_blank: true, class: "form-control"
  .form-group
    = f.label '是否享受课程优惠'
    = select_tag "q[is_course_discount_eq]", options_for_select({'是' => true, '否' => false}, @params[:is_course_discount_eq]), include_blank: true, class: "form-control"
  .form-group
    = f.label "创建时间起"
    = f.date_field :created_at_gteq, class: "form-control"
    = f.label "创建时间止"
    = f.date_field :created_at_lteq, class: "form-control"
  = f.submit '查询', class: "btn btn-md btn-secondary"

%br
%div
  总数： 
  = @items.total_count
.table-responsive
  %table.table.table-striped.table-sm
    %thead
      %tr
        %th 姓名
        %th 电话
        %th OpenId
        %th 折扣
        %th 类型
        %th 大区
        %th 是否查看绩效
        %th 是否享受课程优惠
        %th 创建时间
        %th 操作
    %tbody
      - @items.each do |item|
        %tr
          %td= item.name
          %td= item.phone_number
          %td= item.wx_ma_id
          %td= item.zhekou
          %td= User::STATUS[item.status]
          %td= User::AREA_STATUS[item.area]
          %td= show_active_chinese_name(item.show_achievement)
          %td= show_active_chinese_name(item.is_course_discount)
          %td= item.created_at.strftime('%F %T')
          %td
            - if @admin.senior_manage?
              = link_to '修改', edit_admin_user_path(item)
              |
            = link_to '订单', admin_orders_path(user_id: item.id)
            |
            = link_to '整理服务', admin_orders_path(order_type: 'Service', user_id: item.id)
            |
            = link_to '课程', admin_orders_path(order_type: 'Course', user_id: item.id)
  = paginate @items

