.col-md-6
  = form_for @good, url: url do |f|
    - if @good.errors.any?
      .form-group
        %ul
          - @good.errors.messages.each do |key,msg|
            %li= msg.join(',')
    .form-group
      = f.label "*名称"
      %br
      = f.text_field :title, class: 'form-control'

    .form-group
      = f.label "价格"
      %br
      = f.text_field :price, class: 'form-control'

    .form-group
      = f.label "最小购买数量"
      %br
      = f.text_field :min_count, class: 'form-control'

    .form-group
      = f.label "描述"
      %br
      = f.text_area :description, class: 'form-control'

    .form-group
      = f.label "是否启用"
      = f.select :active, options_for_select({'是' => true, '否' => false}, @good.active), {}, class: 'form-control'

    = f.text_field :front_image, style: 'display: none'
    = render partial: 'upload_image', locals: {item: @good, image_name: 'front_image', image_size: '首页图片(220x220)', button_name: 'front-image', input_name: 'good_front_image', upload_url: file_upload_admin_goods_path(type: 'front')}

    .form-group
      = f.text_field :pc_front_image, style: 'display: none'
      = render partial: 'upload_image', locals: {item: @good, image_name: 'pc_front_image', image_size: '电脑首页图片(300x200)', button_name: 'pc-front-image', input_name: 'good_pc_front_image', upload_url: file_upload_admin_goods_path(type: 'pc-front')}

    = f.text_field :detailed_image, style: 'display: none'
    = render partial: 'upload_image', locals: {item: @good, image_name: 'detailed_image', image_size: '详细页图片(750x360)', button_name: 'detailed-image', input_name: 'good_detailed_image', upload_url: file_upload_admin_goods_path(type: 'detailed')}

    = f.submit '保存', class: 'btn btn-success'