%h2 产品列表
- if true
  = search_form_for @q, url: admin_goods_path, html: {class: 'form-inline'} do |f|
    .form-group
      = f.search_field :title_cont, class: "form-control", placeholder: "产品名称"
    .form-group
      = f.label '产品分类'
      = select_tag "q[product_set_id_eq]", options_for_select(ProductSet.pluck(:title, :id).to_h, @params[:product_set_id_eq]), include_blank: true, class: "form-control"
    = f.submit '查询', class: "btn btn-secondary"
    = link_to '新建产品', new_admin_good_path, class: "btn btn-success"

- if false
  .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    %h1.h2 课程列表
    .btn-toolbar.mb-2.mb-md-0
      .btn-group.mr-2
        %button.btn.btn-sm.btn-outline-secondary 新建
        %button.btn.btn-sm.btn-outline-secondary Export
      %button.btn.btn-sm.btn-outline-secondary.dropdown-toggle
        %span{"data-feather" => 'calendar'} This week

%br
%div
  总数： 
  = @items.total_count
.table-responsive
  %table.table.table-striped.table-sm
    %thead
      %tr
        %th sku
        %th 名称
        %th 产品分类
        %th 尺寸和颜色
        - if false
          %th 城市名称
        %th 价格
        %th 最小购买数量
        %th 购物车图片
        %th 电脑购物车图片
        - if false
          %th 详细页图片
          %th 电脑详细页图片
        %th 是否启用
        %th 操作
    %tbody(ondragstart="dragEnterHandler(event)" ondragover="dragOverHandler(event)" ondragend="dragEndHandler(event)")
      - @items.each do |item|
        - @draggable = true
        %tr(id="item-#{item.id}" draggable='true' data-id= "#{item.id}" data-up_url= "#{up_serial_admin_goods_path(:id =>item.id)}" data-down_url= "#{down_serial_admin_goods_path(:id =>item.id)}")
          %td= item.id
          %td= item.title
          - if false
            %td= item.city_name
          %td= @product_sets_hash[item.product_set_id]
          %td= item.size
          %td= item.price
          %td= item.min_count
          %td= image_tag(item.front_image || '', width: '100px')
          %td= image_tag(item.pc_front_image || '', width: '100px')
          - if false
            %td= image_tag(item.detailed_image || '', width: '100px')
            %td= image_tag(item.pc_detailed_image || '', width: '100px')
          %td= active_chinese_name(item)
          %td
            = link_to '修改', edit_admin_good_path(item)
            |
            - if item.active
              = link_to '关闭', disable_admin_good_path(item), :method => :put
            - else
              = link_to '启用', enable_admin_good_path(item), :method => :put
            - if false
              |
              = link_to "详情图片", admin_product_product_images_path(item)
  = paginate @items
