%h2 课程列表
- if true
  = search_form_for @q, url: admin_courses_path, html: {class: 'form-inline'} do |f|
    .form-group
      = f.search_field :title_cont, class: "form-control", placeholder: "配置说明"
    = f.submit '查询', class: "btn btn-secondary"
    = link_to '新建课程', new_admin_course_path, class: "btn btn-success"

- if false
  .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    %h1.h2 课程列表
    .btn-toolbar.mb-2.mb-md-0
      .btn-group.mr-2
        %button.btn.btn-sm.btn-outline-secondary 新建
        %button.btn.btn-sm.btn-outline-secondary Export
      %button.btn.btn-sm.btn-outline-secondary.dropdown-toggle
        %span{"data-feather" => 'calendar'} This week

%br
%div
  总数： 
  = @items.total_count
.table-responsive
  %table.table.table-striped.table-sm
    %thead
      %tr
        %th sku
        %th 名称
        %th 费用
        %th 定金
        %th 城市名称
        %th 开始日期
        %th 结束日期
        %th 首页图片
        %th 详细页图片
        %th 是否启用
        %th 自动创建微信付款记录
        %th 预定人数
        %th 是否享受学员折扣
        %th 操作
    %tbody(ondragstart="dragEnterHandler(event)" ondragover="dragOverHandler(event)" ondragend="dragEndHandler(event)")
      - @items.each do |item|
        - @draggable = true
        %tr(id="item-#{item.id}" draggable='true' data-id= "#{item.id}" data-up_url= "#{up_serial_admin_courses_path(:id =>item.id)}" data-down_url= "#{down_serial_admin_courses_path(:id =>item.id)}")
          %td= item.id
          %td= item.title
          %td= item.price
          %td= item.earnest_price
          %td= item.city_name
          %td= item.start_date
          %td= item.end_date
          %td= image_tag(item.front_image || '', width: '100px')
          %td= image_tag(item.detailed_image || '', width: '100px')
          %td= active_chinese_name(item)
          %td= show_active_chinese_name(item.create_tenpay)
          %th= item.max_count
          %th= show_active_chinese_name(item.course_extend.has_student_zhekou)
          %td
            = link_to '详情', admin_course_path(item)
            |
            - if item.active
              = link_to '关闭', disable_admin_course_path(item), :method => :put
            - else
              = link_to '启用', enable_admin_course_path(item), :method => :put
            |
            = link_to '修改', edit_admin_course_path(item)
            |
            = link_to "讲师", admin_course_course_teachers_path(item)
            |
            = link_to "学员", admin_students_path(course_id: item.id)
            |
            = link_to '订单', order_admin_course_path(item)
            |
            = link_to "详情图片", admin_product_product_images_path(item)
  = paginate @items
