%h2 课程列表
- if true
  = search_form_for @q, url: admin_courses_path, html: {class: 'form-inline'} do |f|
    .form-group
      = f.search_field :title_cont, class: "form-control", placeholder: "配置说明"
    = f.submit '查询', class: "btn btn-secondary"
    = link_to '新建课程', new_admin_course_path, class: "btn btn-success"

- if false
  .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    %h1.h2 课程列表
    .btn-toolbar.mb-2.mb-md-0
      .btn-group.mr-2
        %button.btn.btn-sm.btn-outline-secondary 新建
        %button.btn.btn-sm.btn-outline-secondary Export
      %button.btn.btn-sm.btn-outline-secondary.dropdown-toggle
        %span{"data-feather" => 'calendar'} This week

%br
%div
  总数： 
  = @courses.total_count
.table-responsive
  %table.table.table-striped.table-sm
    %thead
      %tr
        %th 名称
        %td 费用
        %th 城市名称
        %th 开始日期
        %th 结束日期
        %th 是否启用
        %th 操作
    %tbody
      - @courses.each do |item|
        %tr
          %td= item.title
          %td= item.price
          %td= item.city_name
          %td= item.start_date
          %td= item.end_date
          %td= item.active
          %td
            = link_to '修改', edit_admin_course_path(item)
            |
            = link_to "讲师", admin_course_course_teachers_path(item)
            |
            = link_to "学员", admin_course_students_path(item)
  = paginate @courses
