%li.nav-item
  = link_to '订单收款', admin_order_payment_records_path, class: "nav-link #{'active' if params[:controller] == 'admin/order_payment_records' and %w(index).include?(params[:action]) and @order.blank?}"

%li.nav-item
  = link_to '在线退款', reimbursement_admin_order_payment_records_path, class: "nav-link #{'active' if params[:controller] == 'admin/order_payment_records' and %w(reimbursement).include?(params[:action])}"

%li.nav-item
  = link_to '退款记录', refund_index_admin_order_payment_records_path, class: "nav-link #{'active' if params[:controller] == 'admin/order_payment_records' and %w(refund_index).include?(params[:action])}"

%li.nav-item
  = link_to '确认整理服务尾款', unpaid_index_admin_order_payment_records_path, class: "nav-link #{'active' if params[:controller] == 'admin/order_payment_records' and %w(uppaid_index).include?(params[:action])}"

%li.nav-item
  = link_to '确认整理服务结算', admin_applies_path, class: "nav-link #{'active' if params[:controller] == 'admin/applies'}"



  

  