%br
%li.nav-item
  = link_to '用户信息', admin_users_path, class: "nav-link #{'active' if params[:controller] == 'admin/users'}"

%li.nav-item
  = link_to '加入信息', kefu_index_admin_franchises_path, class: "nav-link #{'active' if params[:controller] == 'admin/franchise' and %w(kefu_index).include?(params[:action])}"

%li.nav-item
  = link_to '产品sku查询', admin_products_path, class: "nav-link #{'active' if params[:controller] == 'admin/products' and %w(index).include?(params[:action])}"

%li.nav-item
  = link_to '订单', admin_orders_path, class: "nav-link #{'active' if params[:controller] == 'admin/orders' and !%w(accounting).include?(params[:action])}"

%li.nav-item
  = link_to "收纳工具订单", order_admin_goods_path, class: "nav-link #{'active' if params[:controller] == 'admin/goods' and params[:action] == 'order'}"

%li.nav-item
  = link_to '订单收入', accounting_admin_orders_path, class: "nav-link #{'active' if params[:controller] == 'admin/orders' and %w(accounting).include?(params[:action])}"

%li.nav-item
  = link_to '退款记录', refund_index_admin_order_payment_records_path, class: "nav-link #{'active' if params[:controller] == 'admin/order_payment_records' and %w(refund_index).include?(params[:action])}"


%li.nav-item
  = link_to '退款记录', refund_index_admin_order_payment_records_path, class: "nav-link #{'active' if params[:controller] == 'admin/order_payment_records' and %w(refund_index).include?(params[:action])}"

%li.nav-item
  = link_to '确认整理服务尾款', unpaid_index_admin_order_payment_records_path, class: "nav-link #{'active' if params[:controller] == 'admin/order_payment_records' and %w(uppaid_index).include?(params[:action])}"

%li.nav-item
  = link_to '确认整理服务结算', admin_applies_path, class: "nav-link #{'active' if params[:controller] == 'admin/applies'}"


