%li.nav-item
  = link_to '介绍信息', admin_introduces_path, class: "nav-link #{'active' if params[:controller] == 'admin/introduces'}" 
%li.nav-item
  = link_to '图片信息', admin_ad_images_path, class: "nav-link #{'active' if params[:controller] == 'admin/ad_images'}"
%li.nav-item
  = link_to '整理服务', admin_services_path, class: "nav-link #{'active' if params[:controller] == 'admin/services'}"
%li.nav-item
  = link_to '课程培训', admin_courses_path, class: "nav-link #{'active' if params[:controller] == 'admin/courses'}"
%li.nav-item
  = link_to '收纳工具', admin_goods_path, class: "nav-link #{'active' if params[:controller] == 'admin/goods' and params[:action] != 'order'}"
%li.nav-item
  = link_to '网页', admin_pages_path, class: "nav-link #{'active' if params[:controller] == 'admin/pages'}"
%li.nav-item
  = link_to '经典案例', admin_cases_path, class: "nav-link #{'active' if params[:controller] == 'admin/cases'}" 

%br
%li.nav-item
  = link_to '用户信息', admin_users_path, class: "nav-link #{'active' if params[:controller] == 'admin/users'}"
%li.nav-item
  = link_to '整理师', admin_arrangers_path, class: "nav-link #{'active' if params[:controller] == 'admin/arrangers'}"
%li.nav-item
  = link_to '讲师', admin_teachers_path, class: "nav-link #{'active' if params[:controller] == 'admin/teachers'}"
%li.nav-item
  = link_to '学员', admin_students_path, class: "nav-link #{'active' if params[:controller] == 'admin/students'}"

%li.nav-item
  = link_to '加盟信息', admin_franchises_path, class: "nav-link #{'active' if params[:controller] == 'admin/franchise'}"

%li.nav-item
  = link_to '产品sku查询', admin_products_path, class: "nav-link #{'active' if params[:controller] == 'admin/products' and %w(index).include?(params[:action])}"

%li.nav-item
  = link_to '订单', admin_orders_path, class: "nav-link #{'active' if params[:controller] == 'admin/orders' and !%w(accounting).include?(params[:action])}"

%li.nav-item
  = link_to '业绩及提成', achievement_admin_tongjis_path, class: "nav-link #{'active' if params[:controller] == 'admin/tongjis' and %w(achievement).include?(params[:action])}"
%li.nav-item
  = link_to '订单地址统计', city_admin_tongjis_path, class: "nav-link #{'active' if params[:controller] == 'admin/tongjis' and %w(city).include?(params[:action])}"


%li.nav-item
  = link_to '订单收入', accounting_admin_orders_path, class: "nav-link #{'active' if params[:controller] == 'admin/orders' and %w(accounting).include?(params[:action])}"

%li.nav-item
  = link_to "收纳工具订单", order_admin_goods_path, class: "nav-link #{'active' if params[:controller] == 'admin/goods' and params[:action] == 'order'}"