!!!
%html{lang: "zh-CN"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title 莉家管理后台
    %meta{content: "", name: "description"}/
    %meta{content: "width=device-width", name: "viewport"}/
    = stylesheet_link_tag    "admin", media: "all"
    = javascript_include_tag "admin"
    = csrf_meta_tags

  %body{role: 'document'}
    %nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.p-0.shadow
      %a.navbar-brand.col-sm-3.col-md-2.mr-0{href: "#"} 莉家整理
      - if false
        %input.form-control.form-control-dark.w-100{type: 'text', placeholder: "Search", "aria-label" => "Search"}
      %ul.navbar-nav.px-3
        %li.nav-item.text-nowrap
          = form_tag admin_do_logout_path, method: 'delete' do
            = submit_tag "#{@admin.try(:name)} |  退出", class: "login-out-submint"


    .container-fluid
      .row
        %nav.col-md-2.d-none.d-md-block.bg-light.sidebar
          .sidebar-sticky
            %ul.nav.flex-column
              %li.nav-item
                %a.nav-link.active
                  //%span.fa.fa-user-o
                  用户信息
              %li.nav-item
                %a.nav-link
                  订单

        %main.col-md-9.ml-sm-auto.col-lg-10.px-4{role: 'main'}
          = yield
    %footer#footer