!!!
%html{lang: "zh-CN"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title 莉家管理后台
    %meta{content: "", name: "description"}/
    %meta{content: "width=device-width", name: "viewport"}/

    %meta{"http-equiv" => "X-UA-Compatible", "content" => "IE=edge"}
    %meta{"content" => "yes", "name" => "apple-mobile-web-app-capable"}
    %meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"}

    = stylesheet_link_tag    "admin", media: "all"
    = javascript_include_tag "admin"
    = csrf_meta_tags

  %body{role: 'document', style: 'align-items: normal;'}
    %nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.p-0.shadow
      %a.navbar-brand.col-2.col-sm-2.col-md-2{href: "#"} 莉家整理
      - if false
        %input.form-control.form-control-dark.w-100{type: 'text', placeholder: "Search", "aria-label" => "Search"}
      %ul.navbar-nav.col-9.col-sm-9.col-md-9{style: "text-align: right;"}
        %li.nav-item.text-nowrap.white-color
          = @admin.try(:user_name)
          |
          = link_to '退出', admin_do_logout_path, method: :delete, class: "white-color"
          - if @admin.present?
            |
            = link_to '修改密码', edit_admin_admin_path(@admin), class: "white-color"

    %div{style: 'height: 50px;'}
    .container-fluid{style: "padding-left: 5px;padding-right: 5px;"}
      %nav.bg-light.sidebar.col-2.col-sm-2.col-md-2{style: "max-width: 14%"}
        .sidebar-sticky
          %ul.nav.flex-column
            - if false
              %li.nav-item
                %a.nav-link
                  //%span.fa.fa-user-o
                  用户信息
            
            %li.nav-item
              = link_to '介绍信息', admin_introduces_path, class: "nav-link #{'active' if params[:controller] == 'admin/introduces'}" 
            %li.nav-item
              = link_to '图片信息', admin_ad_images_path, class: "nav-link #{'active' if params[:controller] == 'admin/ad_images'}"
            %li.nav-item
              = link_to '整理服务', admin_services_path, class: "nav-link #{'active' if params[:controller] == 'admin/services'}"
            %li.nav-item
              = link_to '课程培训', admin_courses_path, class: "nav-link #{'active' if params[:controller] == 'admin/courses'}"
            %li.nav-item
              = link_to '收纳工具', admin_goods_path, class: "nav-link #{'active' if params[:controller] == 'admin/goods' and params[:action] != 'order'}" 
            %br
            %li.nav-item
              = link_to '用户信息', admin_users_path, class: "nav-link #{'active' if params[:controller] == 'admin/users'}"
            %li.nav-item
              = link_to '整理师', admin_arrangers_path, class: "nav-link #{'active' if params[:controller] == 'admin/arrangers'}"
            %li.nav-item
              = link_to '讲师', admin_teachers_path, class: "nav-link #{'active' if params[:controller] == 'admin/teachers'}"
            %li.nav-item
              = link_to '学员', admin_students_path, class: "nav-link #{'active' if params[:controller] == 'admin/students'}"
            %li.nav-item
              = link_to '订单', admin_orders_path, class: "nav-link #{'active' if params[:controller] == 'admin/orders'}"

            %li.nav-item
              = link_to "收纳工具订单", order_admin_goods_path, class: "nav-link #{'active' if params[:controller] == 'admin/goods' and params[:action] == 'order'}"
      }

      .col-10.col-sm-10.col-md-10{role: 'main', style: "margin-left: 14%;padding-top: 25px;padding-right: 0px;"}
        = yield
    %footer#footer