!!!
%html{lang: "zh-CN"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title 莉家管理
    %meta{content: "", name: "description"}/
    %meta{content: "width=device-width", name: "viewport"}/

    %meta{"http-equiv" => "X-UA-Compatible", "content" => "IE=edge"}
    %meta{"content" => "yes", "name" => "apple-mobile-web-app-capable"}
    %meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"}
    %link{"rel"=>"shortcut icon", "href"=>"http://image.lijiazhengli.com/web/favicon.ico", "type"=>"image/vnd.microsoft.icon"}

    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = csp_meta_tag 
  %body
    .navbar-nav.fixed-top.nav-header-container
      .pc-brown-container
        .container
          %a.nav-logo{href: "/"}= image_tag('logo.png')
          .nav-ul
            %li.right-li
              %a.nav-font-color{href: "#"} 首页
              %a.nav-font-color{href: "#"} 整理服务
              %a.nav-font-color{href: "#"} 培训课程
              %a.nav-font-color{href: "#"} 品牌介绍
              %a.nav-font-color{href: "#"} 联系我们
    %div{style: 'height: 50px;'}
    = yield
    .navbar-nav.nav-footer-container
      .container
        .footer-left
          %div 联系我们
          .footer-phone.font-18px 185 1894 9882
          .small-font 北京顺义区林荫路誉天下别墅1期1-2栋
        .footer-right
          .contact-img
            = image_tag('weixin.jpg')
            .small-font 微信公众号
          .contact-img
            = image_tag('contact.jpg')
            .small-font 联系我们
      .copy
        %a.info{href: "http://www.beian.miit.gov.cn"} Copyright 2018-#{(DateTime.now + 1.year).year} 莉家整理，京ICP备18063945号-1

