!!!
%html{lang: "zh-CN"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title 莉家管理
    %meta{content: "", name: "description"}/
    %meta{content: "width=device-width", name: "viewport"}/

    %meta{"http-equiv" => "X-UA-Compatible", "content" => "IE=edge"}
    %meta{"content" => "yes", "name" => "apple-mobile-web-app-capable"}
    %meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"}
    %link{"rel"=>"shortcut icon", "href"=>"http://image.lijiazhengli.com/web/favicon.ico", "type"=>"image/vnd.microsoft.icon"}

    = stylesheet_link_tag "https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    = stylesheet_link_tag    "application", media: "all"

    = javascript_include_tag "https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = csp_meta_tag 
  %body
    .navbar-nav.fixed-top.nav-header-container
      .pc-brown-container
        .container.mb-center-text
          %a.nav-logo{href: "/"}= image_tag('logo.png')
          .nav-ul.d-none.d-sm-block
            %li.right-li
              %a.nav-font-color{href: "/"} 首页
              %a.nav-font-color{href: "#{services_path}"} 整理服务
              - if false
                %a.nav-font-color{href: "#"} 培训课程
              %a.nav-font-color{href: "/information"} 品牌介绍
              - if false
                %a.nav-font-color{href: "#"} 联系我们
    %div{style: 'height: 50px;'}
    = yield
    .navbar-nav.nav-footer-container
      .container
        .footer-left
          %div 联系我们
          .footer-phone.font-18px 185 1894 9882
          .small-font 北京顺义区林荫路誉天下别墅1期1-2栋
        .footer-right
          .contact-img
            = image_tag('applet.jpg')
            .small-font 微信小程序
          .contact-img
            = image_tag('weixin.jpg')
            .small-font 微信公众号
          .contact-img
            = image_tag('contact.jpg')
            .small-font 联系我们
      .copy
        %a.info{href: "http://www.beian.miit.gov.cn"} Copyright 2018-#{(DateTime.now + 1.year).year} 莉家整理，京ICP备18063945号-1



    .fixed-bottom.nav-bottom-container.d-sm-none
      %a.nav-span-width{href: root_path}
        %span{class: "#{'current' if (%w(home).include?(params[:controller]) and params[:action] == 'index')}"}
          = image_tag("nav/home#{'-current' if (%w(home).include?(params[:controller]) and params[:action] == 'index')}.png", class: "nav-icon")
          %div 首页
      %a.nav-span-width{href: services_path}
        %span{class: "#{'current' if (%w(services).include?(params[:controller]))}"}
          = image_tag("nav/service#{'-current' if %w(services).include?(params[:controller])}.png", class: "nav-icon")
          %div 整理服务
      %a.nav-span-width{href: '/information'}
        %span{class: "#{'current' if (%w(home).include?(params[:controller]) and params[:action] == 'info')}"}
          = image_tag("nav/info#{'-current' if (%w(home).include?(params[:controller]) and params[:action] == 'info')}.png", class: "nav-icon")
          %div 关于莉家
      %a.nav-span-width{href: root_path}
        %span
          = image_tag("nav/home.png", class: "nav-icon")
          %div 经典案例


    .show-pop-container#show-applet-code
      .sub-content
        %span.close-btn{:onclick => "closeAppletPop()"}
          .icon-close.icon-30
        .center-text
          %span.info-title#pop-title 扫码购买
        .code-content
          .code
            = image_tag('applet-code.png')
        .center-text#pop-footer-msg
          扫一扫 小程序下单购买

